Implementation/SafeStreetsRPC/SafeStreetsSOAP/src/main/java/com/SafeStreets/Client/DispatcherService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://SafeStreets.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://SafeStreets.com/" name="DispatcherService">
<types>
<xsd:schema>
<xsd:import namespace="http://SafeStreets.com/" schemaLocation="http://localhost:8080/SafeStreetsSOAP/DispatcherService?xsd=1"/>
</xsd:schema>
</types>
<message name="newReport">
<part name="parameters" element="tns:newReport"/>
</message>
<message name="newReportResponse">
<part name="parameters" element="tns:newReportResponse"/>
</message>
<message name="accessReports">
<part name="parameters" element="tns:accessReports"/>
</message>
<message name="accessReportsResponse">
<part name="parameters" element="tns:accessReportsResponse"/>
</message>
<message name="userRegistration">
<part name="parameters" element="tns:userRegistration"/>
</message>
<message name="userRegistrationResponse">
<part name="parameters" element="tns:userRegistrationResponse"/>
</message>
<message name="getSuggestions">
<part name="parameters" element="tns:getSuggestions"/>
</message>
<message name="getSuggestionsResponse">
<part name="parameters" element="tns:getSuggestionsResponse"/>
</message>
<message name="municipalityRegistration">
<part name="parameters" element="tns:municipalityRegistration"/>
</message>
<message name="municipalityRegistrationResponse">
<part name="parameters" element="tns:municipalityRegistrationResponse"/>
</message>
<message name="getAvailableStatistics">
<part name="parameters" element="tns:getAvailableStatistics"/>
</message>
<message name="getAvailableStatisticsResponse">
<part name="parameters" element="tns:getAvailableStatisticsResponse"/>
</message>
<message name="requestDataAnalysis">
<part name="parameters" element="tns:requestDataAnalysis"/>
</message>
<message name="requestDataAnalysisResponse">
<part name="parameters" element="tns:requestDataAnalysisResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="Dispatcher">
<operation name="newReport">
<input wsam:Action="http://SafeStreets.com/Dispatcher/newReportRequest" message="tns:newReport"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/newReportResponse" message="tns:newReportResponse"/>
</operation>
<operation name="accessReports">
<input wsam:Action="http://SafeStreets.com/Dispatcher/accessReportsRequest" message="tns:accessReports"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/accessReportsResponse" message="tns:accessReportsResponse"/>
</operation>
<operation name="userRegistration">
<input wsam:Action="http://SafeStreets.com/Dispatcher/userRegistrationRequest" message="tns:userRegistration"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/userRegistrationResponse" message="tns:userRegistrationResponse"/>
</operation>
<operation name="getSuggestions">
<input wsam:Action="http://SafeStreets.com/Dispatcher/getSuggestionsRequest" message="tns:getSuggestions"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/getSuggestionsResponse" message="tns:getSuggestionsResponse"/>
</operation>
<operation name="municipalityRegistration">
<input wsam:Action="http://SafeStreets.com/Dispatcher/municipalityRegistrationRequest" message="tns:municipalityRegistration"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/municipalityRegistrationResponse" message="tns:municipalityRegistrationResponse"/>
</operation>
<operation name="getAvailableStatistics">
<input wsam:Action="http://SafeStreets.com/Dispatcher/getAvailableStatisticsRequest" message="tns:getAvailableStatistics"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/getAvailableStatisticsResponse" message="tns:getAvailableStatisticsResponse"/>
</operation>
<operation name="requestDataAnalysis">
<input wsam:Action="http://SafeStreets.com/Dispatcher/requestDataAnalysisRequest" message="tns:requestDataAnalysis"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/requestDataAnalysisResponse" message="tns:requestDataAnalysisResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://SafeStreets.com/Dispatcher/loginRequest" message="tns:login"/>
<output wsam:Action="http://SafeStreets.com/Dispatcher/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="DispatcherPortBinding" type="tns:Dispatcher">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="newReport">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="accessReports">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="userRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSuggestions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="municipalityRegistration">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAvailableStatistics">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestDataAnalysis">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DispatcherService">
<port name="DispatcherPort" binding="tns:DispatcherPortBinding">
<soap:address location="http://gianfi-notebook:8080/SafeStreetsSOAP/DispatcherService"/>
</port>
</service>
</definitions>